<%- include("header") -%>
    <header class="signup__header">
        <nav>
            <ul class="fixed-top">
              <li><a href="<%=url%>">Home</a></li>
              <li><a href="<%=url%>#hire">Hire developers</a></li>
              <li><a href="<%=url%>">Contact</a></li>
              
            </ul>
          </nav>
        <div class="btn-box">
            <a class="btn btn-register" href="<%=url%>register">Register</a>
            <a class="btn btn-signup" href="<%=url%>signup">Sign in</a>
        </div>
    </header>
    

  
<%- include("footer") -%>

